<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <div class="au-xs-ta-center au-lg-ta-left">
    </div>
    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
      <a *ngFor="let product of productsFiltered" [routerLink] = "['/item', product.cod]" class="rk-item ae-masonry__item">
        <img src="assets/img/{{product.url}}.jpg" alt="">
        <div class="item-meta">
          <h2>{{product.titulo}}</h2>
          <p>{{product.categoria}}</p>
        </div>
      </a>
    </div>
  </section>